<!-- main site -->

<div class="container">
<table class="table table-dark table-hover">
    <table class="table-auto w-full text-amber-200">
        <thead class="bg-gray-800">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Post</th>
            </tr>
        </thead>
        <tbody class="bg-zinc-800">
            <% for(var i=0; i<user.length; i++){%>
            <tr>
                <td><%=user[i].name%></td>
                <td><%=user[i].email%></td>
                <td><%=user[i].post%></td>
            </tr>
            <%}%>
        </tbody>
  </table>



</div>
<!-- main site -->
